<% layout("./layouts/boilerplate.ejs") %>
    <!-- BIG SLIDESHOW -->
    <div class="d-flex justify-content-between">
        <section id="carouselExampleCaptions"
            class="carousel slide border border-1 border-light p-1 rounded shadow w-100 h-100" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                    <!-- Carousel articles -->
                    <% for (let i = 0; i < postsCarousel.length; i++) { %>
                        <article class="carousel-item <%= i === 0 ? " active" : "" %>" data-postUrl=<%= postsCarousel[i]._id %>>

                                <img src="<%= postsCarousel[i].resizeImage(1280, 780) %>"
                                    class="d-block border rounded w-100 h-100 carousel-img"
                                    alt="Image of the slide-show post" />

                                <div class="carousel-caption">
                                    <h4>
                                        <%= postsCarousel[i].title %>
                                    </h4>
                                    <p class="d-none d-md-block">
                                        <%= postsCarousel[i].text.substring(0, 120) %>...
                                    </p>
                                </div>
                        </article>
                        <% } %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>
        <!-- NEWSLETTER SUBSCRIPTION -->
        <aside class="col-8 offet-2 offset-lg-0 ms-0 col-lg-3 ms-lg-5 mt-5 mt-lg-0 align-self-center d-none d-lg-block rounded">
            <form class="card p-4 shadow">
                <h2>Subscribe to the newsletter</h2>
                <div class="mb-3 mt-1">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control bg-light" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </aside>
    </div>
    <!-- MINI POSTS -->
    <section class="mt-3 mt-md-5 d-flex flex-column flex-md-row justify-content-between mb-5">
    <% for (postMini of postsMini) { %>
        <article class="col-md-3 mb-3 mt-3 mb-md-0 mt-md-0">
            <div class="rounded-3 d-flex flex-column justify-content-between">
                <div class="mini-post-height">
                    <img src="<%= postMini.image.path %>" class="card-img-top mb-1 h-100 mini-post-img"
                        alt="Image of the small Post">
                </div>
                <div>
                    <span class="text-secondary">
                        <%= postMini.categories.map(category=> category.replace(category.charAt(0),
                            category.charAt(0).toUpperCase())).join(", ") %>
                    </span>
                    <h5 class="mb-3 mt-1">
                        <%= postMini.text.substring(0, 48) %> ...
                    </h5>
                    <div>
                        <a href="/posts/<%= postMini._id %>" class="btn btn-sm btn-outline-primary" tabindex="0">Read More</a>
                    </div>
                </div>
            </div>
        </article>
    <% } %>
    </section>

    <hr />

    <section class="mt-5">
      <% for (post of latestPosts) { %>
        <article class="mb-2 row">
          <h2 class="tech-heading mb-4"><span>Latest from <%= post.categories[0].replace(post.categories[0][0], post.categories[0][0].toUpperCase()) %></span></h2>
          <div class="d-flex flex-column flex-lg-row justify-content-evenly mt-3">
            <div class="col-lg-4 d-flex flex-column order-1 order-lg-0">
              <h4 class="mb-3"><%= post.title %></h4>
              <p><%= post.text.substring(0, 300) %>... <a href="/posts/<%= post._id %>" class="link-success" tabindex="0">Read More</a></p>
							<small class="text-muted mt-2 mb-3 mb-md-0">Published on
								<strong class="text-dark">
									<%= post.retriveDate() %>
								</strong>
							</small>
              <aside class="align-self-end mt-auto">
                <!-- Twitter -->
                <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button" title="Share on Twitter"
                  ><i class="fab fa-twitter"></i
                ></a>

                <!-- Instagram -->
                <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button" title="Share on Instagram"
                  ><i class="fab fa-instagram"></i
                ></a>
              </aside>
            </div>
            <div class="col-lg-7 mb-3 mb-lg-0 order-0 order-lg-1">
              <img src="<%= post.image.path %>" class=" h-100 w-100 post-latest-img"
                  alt="Image of the small Post">
            </div>
            
          </div>
        </article>
      <% } %>
    </section>
