<% layout("/layouts/boilerplate.ejs") %>
<div class="row justify-content-between">
    <% if (post.hasLocation()) { %>
        <div class="col-12 col-md-8 col-xl-8">
    <% } else {%>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <% } %>
            <section class="card">
                <article>
                    <img src="<%= post.resizeImage(1024) %>" class="card-img-top img-fluid"
                        alt="Image of the Post">
                    <div class="card-header text-break">
                        <h1 class="card-title h3">
                            <%= post.title %>
                        </h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <%= post.text %>
                        </p>
                    </div>
                </article>
                <section class="card-footer">
                    <aside>
                        <b class="text-muted">Author:</b>
                        <a class="m-0" href="/users/<%= post.author.username %>"><%= post.author.username %></a>
                    </aside>
                    <!-- Post Controls -->
                    <% if (signedUser) { %>
                        <hr aria-hidden="true" class="my-3">
                        <div class="d-flex justify-content-between">
                            <% if (post.author._id.equals(signedUser.id)) { %>
                                <div class="btn-group dropend">
                                    <button type="button"
                                        class="btn btn-sm btn-outline-primary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Options
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/posts/<%= post._id %>/edit"
                                                class="dropdown-item">Edit Post</a>
                                        </li>
                                        <li>
                                            <a href="/posts/<%= post._id %>/edit/image"
                                                class="dropdown-item">Change Post Image</a>
                                        </li>
                                        <li>
                                            <form action="/posts/<%= post._id %>?_method=DELETE"
                                                method="POST">
                                                <input type="hidden" name="_csrf"
                                                    value="<%= csrfToken %>">
                                                <button type="submit"
                                                    class="dropdown-item text-danger">Delete</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <% } %>
                                    <!-- Button comment trigger modal -->
                                    <button type="button" class="btn btn-sm btn-outline-success"
                                        data-bs-toggle="modal" data-bs-target="#commentModal">
                                        Comment
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="commentModal" tabindex="-1"
                                        aria-labelledby="commentModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="commentModalLabel">Write
                                                        your comment:</h5>
                                                    <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <section class="modal-body">
                                                    <form action="/posts/<%= post._id %>/comments"
                                                        method="POST" novalidate class="validation">
                                                        <textarea class="form-control" id="commentText"
                                                            name="comment[text]" rows="6"
                                                            placeholder="Write your comment here."
                                                            aria-placeholder="Write your coment here."
                                                            required></textarea>
                                                        <div class="valid-feedback">
                                                            OK!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Please write a comment.
                                                        </div>
                                                        <div
                                                            class="modal-footer d-flex justify-content-between border-0 m-0 p-0 pt-3">
                                                            <button type="button"
                                                                class="btn btn-danger m-0"
                                                                data-bs-dismiss="modal">Close</button>
                                                            <input type="hidden" name="_csrf"
                                                                value="<%= csrfToken %>">
                                                            <button type="submit"
                                                                class="btn btn-success m-0">Send</button>
                                                        </div>
                                                    </form>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <% } %>
                </section>
            </section>
            <% if (!post.hasLocation() && (post.comments && post.comments.length > 0)) { %> 
                <!-- Comments -->
                <ul class="list-group list-group-flush p-0 mt-4 col-12 col-lg-10 offset-lg-1">
                    <li class="list-group-item h4 px-0">Comments:</li>
                    <% for (comment of post.comments) { %>
                        <li class="list-group-item px-0">
                            <p class="p-0 m-0 text-break text-wrap">
                                <a class="m-0 text-success" href="/users/<%= comment.author.username %>"><%= comment.author.username %></a>: <%= comment.text %>
                            </p>
                            <div class="my-1 d-flex justify-content-between">   
                                <aside class="align-self-end"><small class="text-muted">Commented on <%= comment.retriveDate() %></small></aside>
                                <% if (signedUser && comment.author._id.equals(signedUser.id)) { %>
                                <form
                                    action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE"
                                    method="POST" class="">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="d-inline-block btn btn-sm btn-danger m-0">Delete</button>
                                </form>
                                <% } %>
                            </div>
                        </li>
                    <% } %> 
                </ul>
            <% } %> 
    </div>
    <!-- MAPBOX -->

    <% if (post.hasLocation()) { %>
        <div class="col-12 col-md-4 col-lg-4 mt-4 mt-md-0">
            <p class="m-0 p-0 mb-1">
                <%= post.location.placename %>
            </p>
            <section id='map' style='height: 300px;' class="card"></section>
            <!-- Comments BELOW MAPBOX -->
            <% if (post.comments && post.comments.length > 0) { %> 
            <ul class="list-group list-group-flush p-0 mt-4 mt-md-2">
                <li class="list-group-item h6 px-0 mb-0">Comments:</li>
                <% for (comment of post.comments) { %>
                    <li class="list-group-item px-0">
                        <p class="p-0 m-0 text-break text-wrap"><a class="m-0 text-success" href="/users/<%= comment.author.username %>"><%= comment.author.username %></a>: <%= comment.text %></p>
                        <div class="my-1 d-flex justify-content-between">   
                            <aside class="align-self-end"><small class="text-muted">Commented on <%= comment.retriveDate() %></small></aside>
                            <% if (signedUser && comment.author._id.equals(signedUser.id)) { %>
                            <form
                                action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE"
                                method="POST" class="">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="d-inline-block btn btn-sm btn-danger m-0">Delete</button>
                            </form>
                            <% } %>
                        </div>
                    </li>
                <% } %> 
            </ul>
            <% } %> 
        </div>
        <%- include("../layouts/partials/map.ejs") %>
    <% } %>
</div>
